@-moz-document domain("bing.com")
{
/* Per the standard guidelines: https://html.spec.whatwg.org/multipage/rendering.html#phrasing-content-3 */
  #b_results > li a
  {
    color: #0000EE !important;
  }

  a:visited, #b_results > li a:visited
  {
    color: #551A8B !important;
  }
}
